

.logo {
  width: 25px;
  height: 25px;
  float: left;
  transition: all 0.5s ease;
}
.logo:hover {

  width: 32px;
  height: 32px;
}

#logos-redes {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  object-fit: cover;
  width: 200px;

}
.redes-sociales {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  object-fit: cover;
}
footer {
  line-height: normal
}