body {
  font-family: Verdana, sans-serif;
}
h1, h2, h3 {
  font-family: Georgia, serif;
}
h1 {
  font-size: 50px;
  margin-bottom: 0px;
  letter-spacing: 5px;
}
h2 {
  margin-top: 80px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
  color: #829170;
}
h2::first-letter {
  font-size: 1.5em;
}
h3 {
  font-size: 1.5em;
}
header {
  text-align: center;
}
nav a {
  color: #829170;
  font-size: 20px;
  text-decoration: none;
  padding-right: 20px;
}
nav a:hover {
  text-decoration: underline;
}
#el-restaurante {
  line-height: 2;
}
mark {
  background-color: #d7dbd2e0;
}
dl {
  
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  margin-left: 20px;
}
dt {
  font-weight: bold;
  margin-left: 0;
  margin-bottom: 5px;
}
dd {
 
  margin-left: 0;
  margin-bottom: 15px;
}
#foto-texto-pizzas{
  display: flex;
  
}
input, select, textarea {
  border: 1.5px solid black;
  border-radius: 4px;
  padding: 8px;
  
}
/* Selector d'atribut per input 
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
 Selector simple per select 
select:focus,
 Selector simple per textarea 
textarea:focus {
  background-color: #d7dbd2e0;
}
*/
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus, 
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select:focus,
textarea:focus {
  background-color: #d7dbd2e0;
}
input[type="submit"] {
  padding: 10px;
  background-color: #d7dbd2e0;
  cursor: pointer;
  font-weight: bold;
}








.logo {
  width: 25px;
  height: 25px;
  float: left;
  transition: all 0.5s ease;
}
.logo:hover {

  width: 32px;
  height: 32px;
}

#logos-redes {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  object-fit: cover;
  width: 200px;

}
.redes-sociales {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  object-fit: cover;
}
footer {
  line-height: normal
}