body {
    background-color: #d7dbd2e0;
}
h1 a {
    color: #829170;
    text-decoration: none;
  }
  h1 a:hover {
    text-decoration: underline;
  }
  form {
    background-color: white;
    padding: 25px;
  }
  fieldset {
    border: 3px solid black;
  }
  legend {
    font-size: 1.25em;
    padding-left: 10px;
    padding-right: 10px;
}  
option:checked {
    background-color: #d7dbd2e0;
}
